/*
Theme Name: Bar Predileto
Author: IN Junior
Description: Tema criado para o Bar Predileto
Version: 1.0
*/

body {
    padding-top: 75px;
}

nav a {
    transition: .3s;
}

nav a:hover {
    color: #440a0a !important;
    transition: .3s;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

.uppercase {
    text-transform: uppercase;
}

#carouselApresentacao img {
    object-fit: cover;
    height: 500px;

    /* Filtro */
    -webkit-filter: brightness(70%); 
            filter: brightness(70%); 
}

.eventos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.img-evento {
    height: 300px;
    object-fit: cover;
}

@media(max-width: 991px) {
    #carouselApresentacao img {
        height: 400px;
    }
}

@media(max-width: 767px) {
    body {
        padding-top: 0;
    }

    .fixed-top {
        position: relative;
    }

    #carouselApresentacao img {
        height: 300px;
    }

    .mapouter, .gmap_canvas, #gmap_canvas {
        margin: 0 auto;
    }

    #horario-funcionamento, #contato, footer {
        text-align: center;
    }

    #desenvolvido-por {
        text-align: center !important;
    }
}

@media(max-width: 575px) {
    #carouselApresentacao img {
        height: 200px;
    }

    .mapouter, .gmap_canvas, #gmap_canvas {
        width: 300px !important;
    }

}